.login {

}

.login-header {
    text-align: center;
}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-image {
    max-width: 300px;
    margin: auto;
    display: block;
}
